{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" class="shadow-lg p-3 mb-5 bg-body bg-gradient rounded ">
        <div class="mb-3">
            <label for="username" class="form-label">User Name</label>
            <input autocomplete="off" autofocus type="text" class="form-control" id="username" name="username">
          </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input autocomplete="off" autofocus type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="password" name="confirmation">
          </div>
        <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
{% endblock %}